<div class="main">
    <div class="title">Familjen Sämskar!</div>

    @foreach (string album in @ViewBag.Albums)
    {
        <div class="album-link">
            @Html.ActionLink(@album, "Index", "Album", new { name = @album }, null)
        </div>
    }
</div>
