body {
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
}

.main {
    margin-left: 20%;
}

.title {
    color: #fff;
    font-size: 42px;
    margin-bottom: 90px;
    margin-top: 50px;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.gutter-sizer {
  width: 0%;
}

a:link {
    color: white;
}

a:visited {
    color: grey;
}

a:hover {
    color: darkgrey;
}

a:active {
    color: darkgrey;
}

@media only screen and (min-device-width:768px)and (max-device-width:1024px) {
    .main{
        margin-left: 2px;
    }
    .title {
        font-size: 40px;
        margin-bottom: 80px;
    }
    .grid-sizer,
    .grid-item { 
        width: 50%; 
    }
}

@media only screen and (min-device-width:320px)and (max-device-width:667px) {
    .main{
        margin-left: 2px;
    }
    .title {
        font-size: 20px;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .grid-sizer,
    .grid-item {
        width: 50%;     
    }
}
